html, body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  
  margin: 0px;
  padding: 0px;
}

a {
  border-bottom: 1px solid #FF6699;
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #666666;
}

form {
  position: absolute;
  visibility: hidden;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

td, th {
  font-size: 11px;
}

#container {
}

#title {
  margin-bottom: 20px;
  
  text-align: center;
}

#title a {
  text-decoration: none;
}

#title img {
  border: 0px;
  
  width: 100%;
}

#menu {
  position: absolute;
  visibility: hidden;
}

#bottom {
  border-top: 1px solid #000000;

  margin-top: 10px;

  padding: 3px;
  
  text-align: center;
}

.total {
  border-top: 1px solid #000000;
  border-bottom: 3px double #000000;
  font-weight: bold;
}

.nolink {
  border: 0px;
}

.screen {
  position: absolute;
  visibility: hidden;
}
